/*------------------------------------------------------------*
  coffee.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 2);
  --pagePadding: calc(var(--UIpadding) * 4);
}

/*-- form *******************************************--*/
#form {
  display: grid;
  /*-- Grid container --*/
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'img'
    'main'
}

/*-- font styling *******************************************--*/
h3 {
  display: inline-block;
}

#productPrice {
  color: var(--text);
  font-size: calc(0.8 * var(--subheaderSize));
}

#productPrice::before {
  content: '$';
}

#productHeader {
  border-color: var(--header);
}

/*-- flex container alignment *******************************************--*/
radio-container,
#amountModifier {
  flex-direction: row;
}

#productAmount {
  width: fit-content;
  /*-- Grid container --*/
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title space space'
    'amount increment decrement'
}

#amount {
  grid-area: amount;
}

input[type='number'] {
  min-width: 100% !important;
}

#amountLabel {
  margin-bottom: var(--iconMargin);
  grid-area: title;
}

#increment {
  grid-area: increment;
  margin: 0 var(--UISpacing) 0 var(--UISpacing);
}

#decrement {
  grid-area: decrement;
}

/*-- spacing *******************************************--*/
#formMain {
  grid-area: main;
  gap: var(--formGap) !important;
}

#formMain flex-container {
  gap: var(--iconMargin);
}

/*-- img styling *******************************************--*/
#productImg {
  grid-area: img;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*-- Size options for coffee *******************************************--*/
radio-container {
  justify-content: normal;
  gap: var(--UISpacing);
}

radio-container label {
  margin-right: var(--labelMargin);
}

radio-container label:hover {
  font-weight: 550;
}

#sizes radio-button {
  cursor: auto;
}