/*------------------------------------------------------------*
  General page styling used by every html page
/*------------------------------------------------------------*/

/*-- variables *******************************************--*/
:root {
  /*-- colours --*/
  --backGroundLight: #f1f1f1;
  --backGroundBlack: #111111;
  --backGroundDark: #222222;
  --backGroundLightDark: #333333;
  --text: #f1e4dd;
  --textLight: #fbf8f6;
  --subtitle: #F5CDAF;
  --header: #DFC4B4;
  --textContrast: #FF5D55;
  /*-- container siz es --*/
  --UISize: 3.5rem;
  --UIRadius: 0.6rem;
  --navBarSize: calc(0.9 * var(--UISize));
  --logoSize: calc(1.5 * var(--navBarSize));
  --footerSize: calc(0.9 * var(--navBarSize));
  --separatorHeight: 0.1rem;
  --radioBtnSize: calc(0.1 * var(--UISize));
  /*-- margins --*/
  --UIMargin: 1rem;
  --footerMargin: calc(var(--UIMargin) * 5);
  --iconMargin: calc(var(--UIMargin) * 0.3);
  --UISpacing: calc(var(--UIMargin) * 0.9);
  --footerSpacing: calc(var(--UISpacing) * 2.5);
  --separatorMargin: calc(var(--UIMargin) * 0.5);
  --buttonMargin: calc(var(--UIMargin) * 0.65);
  /*-- padding --*/
  --UIpadding: 0.75rem;
  --buttonPadding: calc(var(--UIpadding) * 0.7);
  --navBtnPadding: calc(var(--UIpadding) * 1.5);
  --footerPadding: calc(var(--UIpadding) * 2);
  /*-- borders --*/
  --UIborder: 0.5rem;
  /*-- font sizes --*/
  --headerSize: 3rem;
  --subheaderSize: calc(0.7 * var(--headerSize));
  --pLarge: calc(0.42 * var(--headerSize));
  --pSmall: calc(0.8 * var(--pSize));
  --pSize: calc(0.32 * var(--headerSize));
  --pMedium: calc(var(--pSize) * 1.2);
  --UILineHeight: 1.8rem;
  --creditSize: calc(0.65 * var(--pSize));
  /*-- border sizes --*/
  --navBarBorder: calc(var(--UIborder) * 0.5);
  /*-- drop down buttons --*/
  --dropdownHover: #efefef;
}

/*-- html *******************************************--*/
html,
body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: fit-content;
  width: fit-content;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  box-sizing: border-box;
}

/*-- font *******************************************--*/
.aleo-general,
p,
h1,
h2,
h3,
button,
radio-button,
a,
input,
label {
  text-align: center;
  display: block;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.aleo-bold,
span-bold {
  font-weight: 600;
}

.aleo-thin,
.form_text,
span-thin {
  font-weight: 300;
}

h3 {
  font-size: var(--pLarge);
  color: var(--text);
}

/*-- headers --*/
h1,
h2,
h3,
a {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

h1 {
  font-size: var(--headerSize);
  color: var(--header);
}

h2 {
  font-size: var(--subheaderSize);
  color: var(--subtitle);
  font-weight: 300;
}

p,
a,
button,
radio-button {
  color: var(--text);
  font-size: var(--pSize);
}

a {
  color: var(--backgroundDark);
}

/*-- hide scrollbar --*/
::-webkit-scrollbar {
  display: none;
}

/*-- navBar *******************************************--*/
/*-- by deafult hide the desktop one and load mobile version first --*/
#nav_desktop>a,
#nav_desktop>flex-container {
  display: none;
}

#nav_dropdown {
  display: flex;
}

/*-- Having the first button/home button take up space 
so that the logo and the drop down container is aligned properly --*/
#nav_desktop> :first-child {
  display: flex;
  padding: 0;
}

/*-- hide the text inside the buttons by deafult so that only the logo 
is displayed for the next screen size up --*/
#nav_desktop>a>span,
#nav_desktop>flex-container>a>span {
  display: none;
}

#nav_desktop>* {
  flex: 1 1 0;
}

nav {
  overflow: visible;
  height: var(--navBarSize);
  display: flex;
  background-color: rgba(17, 17, 17, 0.3);
  backdrop-filter: blur(2px);
}

nav a,
nav button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--text);
  padding: 0 var(--navBtnPadding);
  white-space: nowrap;
}

/*-- Styling of the icon that goes on the navbar --*/
i {
  font-size: var(--pSize);
  border-radius: 0;
}

/*-- Styling of the sign in button --*/
#signInBtn {
  background: var(--backGroundDark) !important;
  height: 75%;
  width: 60%;
}

#signInBtn:hover {
  background-color: var(--backGroundBlack) !important;
}

nav a.active {
  border-bottom: var(--navBarBorder) solid var(--subtitle);
}

nav a:hover,
nav button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*-- navBar logo *******************************************--*/
#logo {
  width: auto;
  height: var(--logoSize);
  margin: 0;
  object-fit: scale-down;
}

/*-- collapsed navBar styling*******************************************--*/
/*-- The container needed to position the dropdown content --*/
container-dropdown,
nav a,
nav button,
dropdown-content {
  width: 100%;
}

container-dropdown {
  position: relative;
}

/*-- Dropdown content --*/
dropdown-content {
  display: none;
  position: absolute;
  margin-top: var(--navBarSize);
}

dropdown-content i {
  margin-left: var(--iconMargin);
}

dropdown-content a {
  background-color: var(--backGroundLight);
  color: var(--backGroundDark);
  height: var(--navBarSize);
  /*-- Makes sure that the content inside the drop down menu isn't underlined --*/
  border: none !important;
}

/*-- Change color of dropdown links on hover --*/
dropdown-content a:hover {
  background-color: var(--dropdownHover);
}

/*-- Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) --*/
.show {
  display: block;
}

/*-- button *******************************************--*/
.general_button {
  padding: calc(var(--buttonPadding) / 1.8) var(--buttonPadding);
  background: var(--backGroundLightDark);
  cursor: pointer;
  border: none;
  border-bottom-style: solid;
  border-color: var(--subtitle);
  border-width: var(--buttonBorder);
  margin-top: var(--buttonMargin);
}

.general_button,
#signInBtn {
  border-radius: var(--UIRadius);
}

/*-- radio button --*/
input[type='radio'] {
  height: var(--radioBtnSize) !important;
  width: var(--radioBtnSize) !important;
  position: relative;
  margin: auto;
}

input[type='radio']+label {
  cursor: pointer;
}

input[type='radio']:after,
input[type='radio']:checked:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
}

input[type='radio']:after {
  background-color: var(--backGroundLight);
}

input[type='radio']:checked:after {
  background-color: var(--subtitle);
}

/*-- input box --*/
input[type='text'],
input[type='number'] {
  background-color: transparent;
  width: 65%;
  border: none;
  border-color: var(--backGroundDark);
  border-bottom-style: solid;
  border-width: var(--separatorHeight);
  font-size: var(--pSize);
  margin-top: var(--buttonMargin);
  min-width: fit-content;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*-- links *******************************************--*/
/*-- underline sliding annimation --*/
a::after,
nav button::after {
  content: '';
  position: absolute;
  border: none;
  border-bottom-style: solid;
  border-width: var(--navBarBorder);
  left: 0;
  bottom: 0;
  width: 0;
  border-color: var(--subtitle);
}

/*-- disabling transition for active element and regular non navbar buttons--*/
nav a.active::after,
#signInBtn:after {
  display: none;
}

a:hover:after,
nav button:hover:after {
  width: 100%;
}

/*-- making text bold annimation --*/
a,
button,
radio-button {
  cursor: pointer;
  position: relative;
}

a:hover,
button:hover,
radio-button:hover {
  font-weight: 600;
}

/*-- fade in annimation --*/
.fadeAnnimation {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*-- custom tags and general styling *******************************************--*/
grid-container,
section {
  display: grid;
}

flex-container,
radio-container,
footer,
#aboutSection,
#recommendedSection,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  width: 100%;
  border: var(--separatorHeight) solid var(--subtitle);
  margin: var(--separatorMargin) auto;
}

.hr_short {
  width: 80%;
}

.text_underline {
  border-radius: 0 !important;
  border-bottom-style: solid;
  border-width: var(--navBarBorder);
  border-color: var(--backGroundLightDark);
}

radio-container {
  flex-direction: row;
  justify-content: normal;
  gap: var(--UISpacing);
}

radio-container label {
  margin-right: var(--labelMargin);
  display: flex;
  align-items: center;
}

radio-container label:hover {
  font-weight: 600;
}

radio-container label i {
  margin-left: calc(var(--labelMargin) / 2);
}

radio-button, increment-button{
  color: var(--backGroundLight) !important;
  background-color: var(--backGroundDark) !important;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0 !important;
  /*-- Hiding the border by deafult, and show it when radio button is checked --*/
  border: none !important;
}

radio-button {
  cursor: auto !important;
}
/*-- footer *******************************************--*/
footer {
  background-color: var(--backGroundLight);
  height: 100%;
  padding: var(--footerPadding) var(--footerPadding) calc(var(--footerPadding) / 2) var(--footerPadding);
}

footer * {
  color: var(--backGroundDark);
  text-align: center;
  line-height: var(--UILineHeight);
  font-weight: 300;
}

/*-- Change back the colour of the button --*/
footer button {
  color: var(--text);
}

footer flex-container>p:first-of-type {
  margin-bottom: var(--separatorMargin);
}


/*-- sections in the footer *******************************************--*/
#footerContainer {
  /*-- Grid container --*/
  gap: var(--footerSpacing);
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'about'
    'links'
    'newsletter';
  align-items: start;
}

::placeholder {
  opacity: 70%;
  color: var(--backGroundDark);
}

input:focus::placeholder {
  color: transparent;
}

/*-- website credits --*/
#footer_credit {
  margin-top: var(--footerMargin);
  font-size: var(--creditSize);
  color: var(--backGroundLightDark);
}

/*-- about --*/
#footer_about {
  grid-area: about;
}

/*-- website links --*/
#footer_links {
  grid-area: links;
}

#footer_links a,
#footer_email {
  margin: auto;
  width: fit-content;
}

/*-- newsletter --*/
#footer_newsletter {
  grid-area: newsletter;
}

#footer_newsletter button {
  width: fit-content;
  margin: var(--buttonMargin) auto auto auto;
}