/*------------------------------------------------------------*
  styling for forms such as coffee page or register page
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- margin --*/
  --labelMargin: calc(var(--UIMargin) * 0.4);
  /*-- spacing --*/
  --formGap: calc(var(--UISpacing) * 1.5);
  /*-- padding --*/
  --inputPadding: calc(var(--UIpadding) * 0.2);
  /*-- radius --*/
  --inputRadius: calc(var(--UIRadius) * 0.2);
  /*-- width --*/
  --formWidthMobile: calc(var(--UISize) * 8);
}

/*-- form *******************************************--*/
#form {
  gap: var(--formGap);
  margin: auto;
  padding: var(--formPadding);
  background-color: var(--backGroundLightDark);
  height: fit-content;
  max-width: var(--formWidthMobile);
}

#formSection {
  min-height: 100vh;
  padding: calc(var(--pagePadding) * 2) var(--pagePadding) calc(var(--pagePadding) * 2) var(--pagePadding);
}

/*-- background *******************************************--*/
#main {
  background-color: white;
  min-height: 100vh;
  background-image: url(/images/images_bg/bg_form.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*-- input styling --*/
input[type='text']:not(#footer_email), input[type='number']{
  border-style: solid;
  border-color: var(--textLight) !important;
  border-radius: var(--inputRadius) !important;
  color: var(--backGroundLight);
  padding: var(--inputPadding);
  font-weight: 300;
  min-width: 0;
  margin-top: 0;
  width: 100%;
}

#form ::placeholder {
  color: var(--textLight) !important;
}

/*-- font styling *******************************************--*/
h2, #headerContainer{
  margin: 0;
  width: 100% !important;
}

#header {
  border-color: var(--header);
}

.form_text {
  color: var(--backGroundLight);
}

/*-- text align and radius styling --*/
#form,
#form * {
  border-radius: var(--UIRadius);
  text-align: left;
}

/*-- button styling--*/
#submit {
  font-size: var(--pLarge);
  background-color: var(--backGroundDark);
  text-align: center;
  width: 100%;
  margin-top: 0;
}

/*-- highlighting text on checking radio button --*/
radio-button:has(input[type='radio']:checked) {
  color: var(--subtitle) !important;
}