/*------------------------------------------------------------*
  register.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 3.5);
  --pagePadding: calc(var(--UIpadding) * 5);
}

/*-- form *******************************************--*/
#form flex-container *, #form flex-container {
  height:fit-content;
  width: fit-content;
}

/*-- genders *******************************************--*/
#genders {
  flex-direction: row;
  justify-content: left;
  grid-gap: var(--UISpacing);
}

#genders label {
  margin-right: var(--labelMargin);
}

#genders label:hover {
  font-weight: 600;
}

#genders radio-button {
  cursor: auto;
}

#address {
  grid-gap: var(--formGap) !important;
}

#address p {
  height: fit-content;
  white-space: nowrap;
}

address-container {
  display: flex;
  flex-direction: column !important;
  grid-gap: var(--iconMargin);
}