/*------------------------------------------------------------*
  General page styling used by every html page
/*------------------------------------------------------------*/

/*-- variables *******************************************--*/
:root {
  /*-- colours --*/
  --backGroundLight: #EAE6E5;
  --backGroundDark: #222222;
  --backGroundLightDark: #333333;
  --text: #F4EAE4;
  --subtitle: #F5CDAF;
  --header: #DFC4B4;
  /*-- container sizes --*/
  --navBarSize: 3vw;
  --footerSize: calc(0.9 * var(--navBarSize));
  /*-- font sizes --*/
  --h1Size: 4vw;
  --h2Size: calc(0.7 * var(--h1Size));
  --h3Size: calc(0.5 * var(--h1Size));
  --pSize: calc(0.4 * var(--h1Size));
  /*-- border sizes --*/
  --navBarBorder: 0.5vh;
  /*-- hover colours --*/
  --backGroundHover: rgba(244, 234, 228, 0.1);
  /*-- container margin --*/
  --signInMargin: 5%;
  /*-- drop down buttons --*/
  --dropDownHover: #efefef;
  /*-- button sizes --*/
  --signInBtnSize: calc(var(--pSize) * 5);
  --signInBtnHeight: calc(var(--signInBtnSize) * 0.35);
  --signInBtnMargin: 1%;
  /*-- icon size --*/
  --iconSize: calc(0.8 * var(--pSize));
}

/*-- font *******************************************--*/
.aleo-general {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: normal;
}

/*-- html *******************************************--*/
html,
body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/*-- hide scrollbar --*/
::-webkit-scrollbar {
  display: none;
}

/*-- navBar *******************************************--*/
.general_navBar {
  background-color: transparent;
  height: var(--navBarSize);
  display: flex;
}

.general_navBar button {
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general_signInBtn {
  flex-grow: 0;
  flex-shrink: 0;
  background: var(--backGroundDark) !important;
  border-radius: 45px;
  flex-basis: var(--signInBtnSize) !important;
  height: var(--signInBtnHeight) !important;
  margin: auto var(--signInBtnMargin);
}

.general_navBar button.active {
  border-bottom: var(--navBarBorder) solid var(--backGroundLight);
}

.general_navBar button:hover {
  background-color: var(--backGroundHover);
}

/*-- collapsed navBar styling*******************************************--*/
/*-- The container needed to position the dropdown content --*/
.general_dropDown,
.general_dropDown *,
.general_navBar button {
  width: 100%;
}

/*-- Dropdown content --*/
.general_dropDown-content {
  display: none;
  position: absolute;
}

.general_dropDown-content button {
  background-color: white;
  color: var(--backGroundDark);
  height: var(--navBarSize);
  /*-- Makes sure that the content inside the drop down menu isn't underlined --*/
  border: none !important;
}

/*-- Change color of dropdown links on hover --*/
.general_dropDown-content button:hover {
  background-color: var(--dropDownHover);
}

/*-- Styling of the icon that goes on the navbar --*/
.general_icon {
  height: auto;
  width: var(--iconSize);
  margin-left: 5px;
  filter: invert(100%) sepia(98%) saturate(364%) hue-rotate(295deg) brightness(102%) contrast(92%);
}

/*-- Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) --*/
.show {
  display: block;
}

/*-- media queries to rearrange container --*/
@media screen and (min-width: 1000px) {
  .general_bottomHalf {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
  }
}

/*-- headers *******************************************--*/
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
}

h1,
h3 {
  color: var(--header);
}

h1 {
  font-size: var(--h1Size);
}

h2 {
  font-size: var(--h2Size);
  color: var(--subtitle);
  font-weight: 300;
}

h3 {
  font-size: var(--h3Size);
}

p,
button {
  font-size: var(--pSize);
}

/*-- containers *******************************************--*/
.general_headerContainer,
.general_container {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.general_headerContainer {
  height: var(--headerContainer);
}

/*-- containers *******************************************--*/
.general_container {
  background-color: var(--backGroundLightDark);
  height: var(--demoContainerHeight);
  width: var(--demoContainerWidth);
}

/*-- footer *******************************************--*/
footer {
  background-color: var(--backGroundLight);
  height: var(--footerSize);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--backGroundDark);
}