/*------------------------------------------------------------*
  index.html page styling
/*------------------------------------------------------------*/

/*-- variables *******************************************--*/
:root {
  /*-- container sizes --*/
  --topHalf: 45vh;
  --headerContainer: calc(var(--topHalf) - var(--navBarSize));
  --bottomHalf: calc(200vh - var(--topHalf));
}

/*-- top division *******************************************--*/
.index_topHalf {
  height: var(--topHalf);
  background-image: url(/images/images_bg/bg_landing.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.index_headerContainer {
  height: var(--headerContainer);
}

/*-- bottom division *******************************************--*/
.index_bottomHalf {
  overflow: auto;
}

.index_bottomHalf div{
  margin: var(--containerTopBottomMargin) auto;
}