/*------------------------------------------------------------*
  register.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --inputPadding: calc(var(--UIpadding) * 0.2);
  /*-- radius --*/
  --inputRadius: calc(var(--UIRadius) * 0.2);
  /*-- spacing --*/
  --formGap: calc(var(--UISpacing) * 1.5);
  /*-- margin --*/
  --labelMargin: calc(var(--UIMargin) * 0.4);
  /*-- input --*/
  --inputWidth: calc(var(--UISize) * 1.4);
  --inputWidthMobile: calc(var(--UISize) * 4);
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 3.5);
  --pagePadding: calc(var(--UIpadding) * 5);
}

/*-- background *******************************************--*/
body {
  padding: var(--pagePadding);
  backdrop-filter: blur(7px);
  background-image: url(/images/images_bg/bg_register.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*-- form *******************************************--*/
#formContainer {
  padding: var(--formPadding);
  background-color: var(--backGroundLightDark);
  width: fit-content;
  height: fit-content;
  grid-gap: var(--formGap);
}

/*-- font styling *******************************************--*/
/*-- text and radius styling --*/
h2 {
  margin: 0;
  width: 100%;
}

#formContainer,
#formContainer * {
  border-radius: var(--UIRadius);
  text-align: left;
}

#header {
  border-color: var(--header);
}

/*-- spacing --*/
#formContainer flex-container {
  grid-gap: var(--iconMargin);
}

/*-- button styling--*/
#submit {
  margin-top: 0;
  background-color: var(--backGroundDark);
  text-align: center;
}

/*-- input styling --*/
input[type='text'] {
  border-style: solid;
  border-color: var(--textLight) !important;
  border-radius: var(--inputRadius) !important;
  width: 100% !important;
  min-width: var(--inputWidthMobile);
  color: var(--textLight) !important;
  height: fit-content;
  margin: auto;
  padding: var(--inputPadding);
  font-size: var(--pSmall);
  font-weight: 400;
}

::placeholder {
  color: var(--textLight) !important;
}

/*-- genders *******************************************--*/
#genders {
  flex-direction: row;
  justify-content: left;
  grid-gap: var(--UISpacing);
}

#genders label {
  margin-right: var(--labelMargin);
}

#genders label:hover {
  font-weight: 600;
}

#genders button {
  cursor: auto;
}

#address {
  grid-gap: var(--formGap) !important;
}

#address p {
  height: fit-content;
  white-space: nowrap;
}

address-container {
  display: flex;
  flex-direction: column;
  grid-gap: var(--iconMargin);
}

.register_gender {
  background-color: var(--backGroundDark);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
  font-size: var(--pSmall);
  border: none;
}

/* Style the label when the radio button is checked */
.register_gender input[type='radio']:checked+label, .register_gender input[type='radio']:checked+label * {
  color: var(--subtitle) !important;
}