/*------------------------------------------------------------*
  General page styling used by every html page
/*------------------------------------------------------------*/

/*-- variables *******************************************--*/
:root {
  /*-- colours --*/
  --backGroundLight: #f1f1f1;
  --backGroundDark: #222222;
  --backGroundLightDark: #333333;
  --text: #F4EAE4;
  --subtitle: #F5CDAF;
  --header: #DFC4B4;
  --textContrast: #FF5D55;
  /*-- container sizes --*/
  --UISize: 3.5rem;
  --UIRadius: 0.6rem;
  --navBarSize: calc(0.9 * var(--UISize));
  --footerSize: calc(0.9 * var(--navBarSize));
  --separatorHeight: 0.1rem;
  /*-- margins --*/
  --UIMargin: 1rem;
  --footerMargin: calc(var(--UIMargin) * 5);
  --iconMargin: calc(var(--UIMargin) * 0.3);
  --UISpacing: calc(var(--UIMargin) * 0.9);
  --footerSpacing: calc(var(--UISpacing) * 5);
  --separatorMargin: calc(var(--UIMargin) * 0.5);
  --buttonMargin: calc(var(--UIMargin) * 0.65);
  /*-- padding --*/
  --UIpadding: 0.75rem;
  --footerPadding: calc(var(--UIpadding) * 2);
  /*-- borders --*/
  --UIborder: 0.5rem;
  /*-- font sizes --*/
  --headerSize: 3rem;
  --subheaderSize: calc(0.7 * var(--headerSize));
  --pSize: calc(0.36 * var(--headerSize));
  --pSmall: calc(var(--pSize) * 0.9);
  --UILineHeight: 1.8rem;
  --creditSize: calc(0.65 * var(--pSize));
  /*-- border sizes --*/
  --navBarBorder: calc(var(--UIborder) * 0.5);
  /*-- hover colours --*/
  --backGroundHover: rgba(244, 234, 228, 0.1);
  /*-- drop down buttons --*/
  --dropdownHover: #efefef;
  /*-- icon size --*/
  --iconSize: calc(0.9 * var(--pSize));
}

/*-- html *******************************************--*/
html,
body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  height: fit-content;
  width: fit-content;
  scroll-behavior: smooth;
}

body * {
  border: none;
  background-color: transparent;
}

/*-- font *******************************************--*/
.aleo-general,
p,
header,
sub-header, button, a, input {
  margin: 0;
  text-align: center;
  display: block;
  font-family: "Aleo", serif;
  font-weight: 350;
  font-style: normal;
  text-decoration: none;
}

.aleo-bold, span-bold {
  font-weight: 550;
}

.aleo-thin, span-thin {
  font-weight: 300;
}

/*-- headers --*/
header,
sub-header, a {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

header {
  color: var(--header);
}

header {
  font-size: var(--headerSize);
}

sub-header {
  font-size: var(--subheaderSize);
  color: var(--subtitle);
  font-weight: 300;
}

p, a, button {
  color: var(--text);
  font-size: var(--pSize);
}

a {
  color: var(--backgroundDark);
}

/*-- hide scrollbar --*/
::-webkit-scrollbar {
  display: none;
}

/*-- navBar *******************************************--*/
/*-- by deafult hide the desktop one and load mobile version first--*/
#nav_desktop {
  display: none;
}

#nav_desktop > * {
  flex: 1 1 0;
}

nav {
  overflow: visible;
  grid-area: nav;
  height: var(--navBarSize);
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

nav button {
  position: relative;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

/*-- Styling of the icon that goes on the navbar --*/
nav img {
  width: var(--iconSize);
  margin-left: var(--iconMargin);
  filter: invert(100%) sepia(98%) saturate(364%) hue-rotate(295deg) brightness(102%) contrast(92%);
  border-radius: 0;
}

/*-- Styling of the sign in button --*/
#signInBtn {
  background: var(--backGroundDark) !important;
  height: 75%;
  width: 60%;
  margin: auto;
}

nav button.active {
  border-bottom: var(--navBarBorder) solid var(--subtitle);
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*-- navBar logo *******************************************--*/
.general_logo {
  filter: none;
  width: auto;
  height: 10vw;
  margin: 0;
  object-fit: scale-down;
}

/*-- collapsed navBar styling*******************************************--*/
/*-- The container needed to position the dropdown content --*/
container-dropdown,
nav button {
  width: 100%;
}

/*-- Dropdown content --*/
dropdown-content {
  display: none;
  position: absolute;
  width: 50%;
}

dropdown-content button img {
  filter: invert(10%) sepia(6%) saturate(0%) hue-rotate(159deg) brightness(95%) contrast(91%);
}

dropdown-content button {
  background-color: var(--backGroundLight);
  color: var(--backGroundDark);
  height: var(--navBarSize);
  /*-- Makes sure that the content inside the drop down menu isn't underlined --*/
  border: none !important;
}

/*-- Change color of dropdown links on hover --*/
dropdown-content button:hover {
  background-color: var(--dropdownHover);
}

/*-- Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) --*/
.show {
  display: block;
}

/*-- button *******************************************--*/
.general_button {
  padding: calc(var(--buttonPadding) / 1.8) var(--buttonPadding);
  background: var(--backGroundLightDark);
  cursor: pointer;
  border: none;
  border-bottom-style: solid;
  border-color: var(--subtitle);
  border-width: var(--buttonBorder);
  margin-top: var(--buttonMargin);
}

.general_separator, .general_separator_short, .general_button, #signInBtn {
  border-radius: var(--UIRadius);
}

/*-- links *******************************************--*/
/*-- underline sliding annimation --*/
a::after, nav button::after {
  content: '';
  position: absolute;
  border: none;
  border-bottom-style: solid;
  border-width: var(--navBarBorder);
  left: 0;
  bottom: 0;
  width: 0;
  border-color: var(--subtitle);
  transition: 0.2s;
}

/*-- disabling transition for active element and regular non navbar buttons--*/
nav button.active::after, #signInBtn:after {
  display: none;
}

a:hover:after, nav button:hover:after {
  width: 100%;
}

/*-- making text bold annimation --*/
a, button {
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

a:hover, button:hover {
  font-weight: 550;
}

/*-- fade in annimation --*/
.fadeAnnimation {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/*-- custom tags and general styling *******************************************--*/
grid-container, section {
  display: grid;
}

flex-container, footer, #aboutSection, #recommendedSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.general_separator {
  border: var(--separatorHeight) solid var(--subtitle);
  margin: var(--separatorMargin) auto;
}

.general_separator_short {
  width: 80%;
}

/*-- footer *******************************************--*/
footer {
  background-color: var(--backGroundLight);
  height: 100%;
  padding: var(--footerPadding) var(--footerPadding) calc(var(--footerPadding) / 2) var(--footerPadding);
}

footer * {
  color: var(--backGroundDark);
  text-align: left;
  font-size: var(--pSmall);
  line-height: var(--UILineHeight);
}

/*-- Change back the colour of the button --*/
footer button {
  color: var(--text);
}

footer flex-container > p:first-of-type {
  margin-bottom: var(--lineBreakHeight);
  border-bottom-style: solid;
  border-width: var(--navBarBorder);
  border-color: var(--backGroundLightDark);
}


/*-- sections in the footer *******************************************--*/
#footerContainer {
  /*-- Grid container --*/
  grid-gap: var(--footerSpacing);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    'about links newsletter';
  align-items: start;
}

/*-- input box --*/
#footer_email {
  background-color: transparent;
  width: 65%;
  border: none;
  border-color: var(--backGroundDark);
  border-bottom-style: solid;
  border-width: var(--separatorHeight);
  margin-top: var(--buttonMargin);
}

::placeholder {
  color: var(--backGroundDark);
}

/*-- website credits --*/
#footer_credit {
  margin-top: var(--footerMargin);
  font-size: var(--creditSize);
  color: var(--backGroundLightDark);
}

/*-- about --*/
#footer_about {
  grid-area: about;
}

/*-- website links --*/
#footer_links {
  grid-area: links;
}

#footer_links a {
  margin: 0;
}

/*-- newsletter --*/
#footer_newsletter {
  grid-area: newsletter;
}

#footer_newsletter button {
  width: fit-content;
}
