/*------------------------------------------------------------*
  index.html page styling
/*------------------------------------------------------------*/

/*-- Media queries for desktop *******************************************--*/
@media screen and (min-width: 780px) {
  /*-- Scales down image when stacked in column --*/
  container-about img {
    width: 60%;
  }
}

@media screen and (min-width: 1350px) {
  /*-- Changing the navbar used to the one for larger screens --*/
  #nav_desktop {
    display: flex;
  }

  #nav_dropdown {
    display: none;
  }
  /*-- Make grid and flex box containers display side by side instead of column --*/
  .index_offersContainer {
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      'prev slide description next';
  }

  container-about {
    /*-- Grid container --*/
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    align-items: center;
  }

  container-about img {
    width: 100%;
  }

  .index_productContainer {
    display: grid;
    justify-content: center;
    /*-- Grid container --*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  /*-- Changing any margin and alignment as required --*/
  .index_about, container-about {
    grid-gap: var(--productSpacing);
  }

  .index_description {
    margin: 0 0 0 var(--UIMargin);
  }
}

/*-- Scaling up font size --*/
@media screen and (min-width: 420px) {
  :root {
    --headerSize: 3.5rem;
    --UIpadding: 1.5rem;
    --UISize: 5rem;
    --UIMargin: 1.5rem;
  }
}

/*-- Media queries for very large screens *******************************************--*/
/*-- Scaling down font size or padding or margin as required for mobile --*/
@media screen and (min-width: 1440px) {
  :root {
    --headerSize: 4vw;
    --UIpadding: 1.5vw;
    --UISize: 5vw;
    --UIMargin: 1.5vw;
  }
}