/*------------------------------------------------------------*
  coffee.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 2);
  --pagePadding: calc(var(--UIpadding) * 4);
}

/*-- form *******************************************--*/
#formContainer {
  display: grid;
  /*-- Grid container --*/
  gap: var(--formGap);
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'img'
    'main'
}

/*-- font styling *******************************************--*/
h3 {
  display: inline-block;
}

#productPrice {
  color: var(--text);
  font-size: calc(0.8 * var(--subheaderSize));
}

#productPrice::before {
  content: '$';
}

#productHeader {
  border-color: var(--header);
}

/*-- flex container alignment *******************************************--*/
#productAmount, radio-container {
  flex-direction: row;
}

/*-- spacing *******************************************--*/
#formMain {
  grid-area: main;
  gap: var(--formGap);
}

#formMain flex-container {
  gap: var(--iconMargin);
}

/*-- img styling *******************************************--*/
#productImg {
  grid-area: img;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*-- Size options for coffee *******************************************--*/
radio-container {
  justify-content: normal;
  gap: var(--UISpacing);
}

radio-container label {
  margin-right: var(--labelMargin);
}

radio-container label:hover {
  font-weight: 550;
}

radio-container radio-button {
  cursor: auto;
}