/*------------------------------------------------------------*
  coffee.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 2);
  --pagePadding: calc(var(--UIpadding) * 4);
  /*-- spacing --*/
  --formGap: calc(var(--UISpacing) * 1.5);
  /*-- margin --*/
  --labelMargin: calc(var(--UIMargin) * 0.4); 
}

body {
  padding: var(--pagePadding);
}

/*-- form *******************************************--*/
#formContainer {
  margin: auto;
  padding: var(--formPadding);
  background-color: var(--backGroundLightDark);
  width: fit-content;
  height: fit-content;
  /*-- Grid container --*/
  grid-gap: var(--formGap);
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'img'
    'main'
}

/*-- font styling *******************************************--*/
h2 {
  margin: 0;
  width: 100%;
}

h3 {
  display: inline-block;
}

#productPrice {
  color: var(--text);
  font-size: calc(0.8 * var(--subheaderSize));
}

#productPrice::before {
  content: '$';
}

/*-- text and radius styling --*/
#formContainer,
#formContainer * {
  border-radius: var(--UIRadius);
  text-align: left;
}

#productHeader {
  width: 80%;
  border-color: var(--header);
}

/*-- spacing --*/
#formMain {
  grid-area: main;
  grid-gap: var(--formGap);
}

#formMain flex-container {
  grid-gap: var(--iconMargin);
}

/*-- img styling --*/
#productImg {
  grid-area: img;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*-- button styling--*/
#order {
  margin-top: 0;
  background-color: var(--backGroundDark);
  text-align: center;
}

/*-- Size options for coffee *******************************************--*/
#productSizes {
  flex-direction: row;
  justify-content: left;
  grid-gap: var(--UISpacing);
}

#productSizes label {
  margin-right: var(--labelMargin);
}

#productSizes label:hover {
  font-weight: 550;
}

#productSizes button {
  cursor: auto;
}

.coffee_sizes {
  background-color: var(--backGroundDark);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
  font-size: var(--pSmall);
  border: none;
}

/* Style the label when the radio button is checked */
.coffee_sizes input[type='radio']:checked+label {
  color: var(--subtitle) !important;
}