/*------------------------------------------------------------*
  order.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 1);
  --pagePadding: calc(var(--UIpadding) * 5);
  --productImgSize: calc(var(--UISize) * 1.2);
  --orderPadding: calc(var(--UIpadding) * 0.4);
  /*-- margin --*/
  --orderGap: calc(var(--UIMargin) * 0.6);
  --formGap: calc(var(--UIMargin) * 1.2);
  /*-- sizing --*/
  --orderWidth: calc(var(--UISize) * 10);
  --orderImg: calc(var(--UISize) * 0.9);
  /*-- sizes --*/
  --formWidth: calc(var(--UISize) * 15);
}

/*-- text styling *******************************************--*/
h3,
p {
  width: 100%;
}

.header {
  margin: auto;
  width: fit-content;
}

.header,
h3,
h2 {
  color: var(--backGroundDark);
}

h2 {
  font-weight: 400;
}

/*-- gaps for flex containers *******************************************--*/
form grid-container,
form flex-container {
  gap: var(--orderGap);
}

/*-- background *******************************************--*/
#main {
  background-image: url(/images/images_bg/bg_order.jpg);
}

/*-- form *******************************************--*/
#form {
  background-color: transparent;
  padding: 0;
  max-width: max-content;
}

#checkOutSection,
#cartSection {
  background-color: var(--backGroundLight);
  padding: var(--formPadding);
}

/*-- checkout section *******************************************--*/
#checkOutSection {
  gap: var(--formGap);
}

#checkOut {
  padding: 0 !important;
}

/*-- shopping cart *******************************************--*/
#cartSection {
  gap: var(--formGap);
  /*-- Grid container --*/
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'header'
    'cart'
    'delivery'
    'summary';
  align-items: center;
}

#cartHeader {
  grid-area: header;
}

#cartHeader,
#checkOutHeader {
  border-color: var(--subtitle);
}

#cart {
  grid-area: cart;
  padding: 0 !important;
}

order-container {
  min-width: 0;
}

/*-- summaryContainer *******************************************--*/
#summary {
  grid-area: summary;
}

#summaryContainer {
  margin: auto;
  background-color: white !important;
  padding: calc(var(--orderPadding) * 4) var(--orderPadding) calc(var(--orderPadding) * 4) var(--orderPadding);
  width: 100%;
}

#summaryContainer h2 {
  text-align: center
}

#summaryContainer flex-container {
  flex-direction: row;
  align-items: center;
}

#summaryContainer flex-container p:last-child {
  text-align: right;
}

hr {
  border-color: var(--backGroundDark);
  margin: 0;
}

/*-- delivery form *******************************************--*/
#deliveries {
  justify-content: center;
}

#deliveryOptions {
  grid-area: delivery;
}

radio-container {
  scale: 1.1;
  padding: var(--formGap);
}

#deliveryOptions radio-button {
  color: white;
}

#submit {
  display: none;
}

#submit i {
  margin-left: var(--iconMargin);
}

/*-- conatiner for user orders *******************************************--*/
order-container {
  padding: var(--orderPadding);
  display: grid;
  /*-- Grid container --*/
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'img name total'
    'img details total'
    'img price total';
  column-gap: var(--orderGap);
  background-color: white;
  text-align: center;
  align-items: center;
}

order-container * {
  height: fit-content;
  margin: 0;
  white-space: nowrap;
}

order-container:hover {
  /*-- Annimation --*/
  transform: scale(1.05);
  transition: 0.2s ease;
}

order-container img {
  grid-area: img;
  object-fit: cover;
  height: var(--orderImg);
  width: var(--orderImg);
}

/*-- Styling large text to have a darker colour --*/
.order_details,
.order_price,
#summaryContainer h3,
#summaryContainer p {
  color: var(--backGroundLightDark);
}

/*-- text alignment --*/
.order_total {
  text-align: right !important;
}


/*-- grid area --*/
.order_name {
  grid-area: name;
}

.order_details {
  grid-area: details;
}

.order_total {
  grid-area: total;
}

.order_price {
  grid-area: price;
}