/*------------------------------------------------------------*
  register.html page styling
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/
:root {
  /*-- padding --*/
  --formPadding: calc(var(--UIpadding) * 3);
  --pagePadding: calc(var(--UIpadding) * 5);
}

/*-- form *******************************************--*/
#form flex-container *, #form flex-container {
  height:fit-content;
}

#form flex-container {
  gap: var(--iconMargin);
}

/*-- genders *******************************************--*/
#genders {
  width: fit-content;
  justify-content: left;
  flex-direction: column;
}

#address {
  grid-gap: var(--formGap) !important;
}

#address p {
  height: fit-content;
  white-space: nowrap;
}

address-container {
  display: flex;
  flex-direction: column !important;
  grid-gap: var(--iconMargin);
}