/*------------------------------------------------------------*
  index.html page styling
/*------------------------------------------------------------*/

/*-- Media queries for desktop *******************************************--*/
@media screen and (min-width: 1024px) {

  /*-- Changing the navbar used to the one for larger screens --*/
  #nav_desktop {
    display: flex;
  }

  #nav_dropdown {
    display: none;
  }

  .general_logo {
    height: 10vh;
  }

  discount-container {
    width: 15%;
  }

  /*-- Make grid and flex box containers display side by side instead of column --*/
  #offersContainer {
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      'prev slide description next';
  }

  container-about {
    /*-- Grid container --*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    max-width: var(--aboutContainer);
  }

  container-about img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  #productsContainer {
    display: grid;
    justify-content: center;
    /*-- Grid container --*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  /*-- Changing any margin and alignment as required --*/
  #aboutSection,
  container-about {
    grid-gap: var(--UISpacing);
  }

  container-description {
    margin: 0 0 0 var(--UIMargin);
  }

  container-product {
    grid-template-rows: 5fr 3fr;
  }
}

/*-- Scaling up font size --*/
@media screen and (min-width: 425px) {
  :root {
    --headerSize: 3.5rem;
    --UIpadding: 1.5rem;
    --UISize: 5rem;
    --UIMargin: 1.5rem;
    --UIborder: 0.5rem;
    --UIRadius: 0.9rem;
  }
}

/*-- Media queries for very large screens *******************************************--*/
/*-- Scaling down font size or padding or margin as required for mobile --*/
@media screen and (min-width: 1440px) {
  :root {
    --headerSize: 3.6vw;
    --UIpadding: 1.5vw;
    --UISize: 5vw;
    --UIMargin: 1.5vw;
    --UILineHeight: 1.8vw;
    --UIborder: 0.6vw;
    --UIRadius: 0.9vw;
  }
}