/*------------------------------------------------------------*
  index.html page styling
/*------------------------------------------------------------*/

/*-- variables *******************************************--*/
:root {
  /*-- container sizes --*/
  --topHalf: 100vh;
  --UISize: 5rem;
  --offersContainer: calc(var(--UISize) * 8);
  /*-- margin --*/
  --UIMargin: 1.5rem;
  --buttonMargin: calc(var(--UIMargin) * 0.9);
  --UIIconMargin: calc(var(--UIMargin) * 0.5);
  --QuoteMargin: calc(var(--UIMargin) * 0.3);
  --separatorMargin: calc(var(--UIMargin) * 0.5);
  /*-- padding --*/
  --UIpadding: 1.5rem;
  --buttonPadding: calc(var(--UIpadding) * 0.45);
  --descriptionPadding: calc(var(--UIpadding) * 0.4);
  /*-- button --*/
  --buttonHeight: calc(var(--navBarSize) * 0.85);
  --buttonRaidus: 20px;
  --buttonShadow: 0.1rem;
  /*-- UI --*/
  --UIRadius: 15px;
  --separatorHeight: 0.1rem;
  --UIProductSize: calc(var(--UISize) * 3);
  /*-- headers --*/
  --headerWidth: calc(var(--UISize) * 12);
  --subtitleWidth: calc(var(--headerWidth) * 0.8);
  --UIHeaderSize: calc(var(--h1Size) * 0.95);
  --UISubHeaderSize: calc(var(--h1Size) * 0.45);
  /*-- icons --*/
  --UIiconSize: calc(1.7 * var(--UISubHeaderSize));
  /*-- slide show --*/
  --slideHeight: calc(var(--UISize) * 5.5);
  --slideArrow: calc(var(--UIiconSize) * 0.7);
  --slideDiscount: calc(var(--slideArrow) * 2.5);
  --slideBorderRadius: calc(var(--slideArrow) / 10);
  --slideArrowPadding: calc(var(--slideArrow) / 4);
  /*-- description --*/
  --descriptionP: calc(1.2 * var(--pSize));
  --quoteSize: calc(0.9 * var(--descriptionP));
  --pfpSize: calc(var(--UIiconSize) * 1.2);
}

/*-- top division *******************************************--*/
.index_topHalf {
  height: var(--topHalf);
  background-image: url(/images/images_bg/bg_landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*-- Grid container --*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    'nav'
    'ui'
    'space';
}

.index_nav {
  grid-area: nav;
}

.index_ui {
  grid-area: ui;
  margin: auto auto auto var(--UIMargin);
  height: max-content;
}

/*-- headers *******************************************--*/
.index_header,
.index_sub,
.index_UIHeader,
.index_UISubHeader,
.index_aboutHeader {
  text-align: left;
  height: fit-content;
  width: fit-content;
}

.index_aboutHeader,
.index_UIHeader,
.index_recommendedHeader {
  margin: auto;
  font-size: var(--UIHeaderSize);
}

.index_header {
  max-width: var(--headerWidth);
}

.index_sub {
  max-width: var(--subtitleWidth);
}

.index_UIHeader {
  grid-area: UIHeader;
}

.index_UISubHeader {
  font-size: var(--UISubHeaderSize);
  grid-area: UISubHeader;
  margin: 0 auto var(--UIMargin) auto;
}

/*-- description/text *******************************************--*/
.index_description {
  display: block;
  max-width: var(--offersContainer);
  grid-area: description;
  margin-left: var(--UIMargin);
}

.index_separator {
  border: var(--separatorHeight) solid var(--subtitle);
  margin: var(--separatorMargin) auto;
}

.index_separator_short {
  width: 80%;
}

.index_aboutCoffee, .index_about, .index_product p {
  color: var(--text);
}

.index_aboutCoffee p {
  font-size: var(--descriptionP);
}

/*-- icons *******************************************--*/
.index_UIIcon {
  width: var(--UIiconSize);
  grid-area: icon;
  margin: auto var(--UIIconMargin) auto auto;
}

/*-- UI with curved borders *******************************************--*/
.index_slideShow,
img,
index_separator {
  border-radius: var(--UIRadius);
}

/*-- button *******************************************--*/
.index_button {
  height: fit-content;
  min-width: max-content;
  padding: calc(var(--buttonPadding) / 1.5) var(--buttonPadding);
  background: var(--backGroundLightDark);
  color: var(--text);
  cursor: pointer;
  border-color: transparent;
  border-radius: var(--buttonRaidus);
  box-shadow: calc(-1 * var(--buttonShadow)) var(--buttonShadow) var(--subtitle);
  margin-top: var(--buttonMargin);
  font-size: var(--UIFontSize);
}

/*-- bottom division *******************************************--*/
.index_review,
.index_author,
.index_offers,
.index_slideHeader,
.index_offersContainer,
.index_recommended,
.index_product,
.index_recommendedContainer {
  display: grid;
}

.index_bottomHalf {
  background-color: var(--backGroundDark);
}

.index_offers {
  padding: var(--UIpadding);
  /*-- Grid container --*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'slideHeader slideHeader'
    'container container';
}

.index_offersContainer {
  margin: auto;
  width:max-content;
  grid-area: container;
  /*-- Grid container --*/
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    'prev slide description next';
  align-items: center;
}

.index_recommended {
  padding: var(--UIpadding);
  background-image: url(/images/images_bg/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*-- Grid container --*/
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'aboutHeader recommendedHeader'
    'about recommendedContainer';
}

/*-- About section *******************************************--*/
.index_about {
  grid-area: about;
  height: max-content;
}

.index_aboutHeader {
  grid-area: aboutHeader;
}

/*-- Reconmmended section *******************************************--*/
.index_recommendedContainer {
  grid-area: recommendedContainer;
  /*-- Grid container --*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.index_recommendedHeader {
  width: max-content;
  grid-area: recommendedHeader;
}

.index_product {
  padding: 0 !important;
  width: var(--UIProductSize);
  height: max-content;
  margin: var(--UIMargin);
  /*-- Grid container --*/
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.index_product img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  border-radius: var(--UIRadius) var(--UIRadius) 0 0;
}

.index_product p {
  margin: var(--QuoteMargin);
}

/*-- basic container styling *******************************************--*/
.index_description,
.index_about,
.index_recommendedHeader,
.index_aboutHeader,
.index_product {
  background-color: var(--backGroundLightDark);
  border-radius: var(--UIRadius);
  padding: var(--descriptionPadding);
}

/*-- review *******************************************--*/
.index_review * {
  color: var(--text);
  font-size: var(--quoteSize);
}

.index_review {
  height: max-content;
  width: 80%;
  margin: auto;
  /*-- Grid container --*/
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    'author quote';
}

.index_author {
  margin: auto 0 auto auto;
  grid-area: author;
  /*-- Grid container --*/
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'picture'
    'name';
}

.index_pfp {
  grid-area: picture;
  height: var(--pfpSize);
  width: var(--pfpSize);
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

.index_name {
  grid-area: name;
}

.index_quote {
  margin: auto auto auto var(--QuoteMargin);
  grid-area: quote;
}

/*-- slide show *******************************************--*/
.index_slideShow,
.index_slideImage {
  width: 100%;
}

.index_slideShow,
.index_filter {
  position: relative;
}

.index_slideShow {
  grid-area: slide;
  height: var(--slideHeight);
}

.index_filter {
  /*-- Setting brightness at max initially then lowering it later --*/
  filter: brightness(100%);
  height: 100%;
}

.index_slideShow:hover>.index_filter {
  /*-- Lowering the brightness on hover --*/
  filter: brightness(40%);
  transition: all 1s ease;
}

/*-- displays button on hover --*/
.index_filter:hover+.index_slideHover,
.index_slideHover:hover {
  display: flex;
}

.index_slideHeader {
  margin: auto;
  width: max-content;
  grid-area: slideHeader;
  /*-- Grid container --*/
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'icon UIHeader'
    'UISubHeader  UISubHeader'
}

/*-- Next & previous buttons --*/
.index_prev,
.index_next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: var(--slideArrow);
  padding: var(--slideArrowPadding);
  transition: 0.6s ease;
  user-select: none;
}


/*-- Discount text --*/
.index_discount {
  height: var(--slideDiscount);
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--text);
  color: var(--textContrast);
  border-radius: 0 var(--UIRadius) 0 0;
}

.index_discount * {
  width: 100%;
  margin: 0;
  font-size: var(--descriptionP);
}

#index_coffeePrice {
  text-decoration: line-through;
}

#index_discountPrice {
  color: var(--textContrast);
}

/*-- Container for what to display when the slide show is hovered on --*/
.index_slideHover {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-- Position the "next button" to the right --*/
.index_next {
  grid-area: next;
  right: 0;
  margin-left: var(--UIMargin);
  border-radius: var(--slideBorderRadius) 0 0 var(--slideBorderRadius);
}

.index_prev {
  grid-area: prev;
  left: 0;
  margin-right: var(--UIMargin);
  border-radius: var(--slideBorderRadius) 0 0 var(--slideBorderRadius);
}

/*-- On hover, add a black background color with a little bit see-through --*/
.index_prev:hover,
.index_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.index_slideImage {
  object-fit: cover;
  max-height: 100%;
}