/*------------------------------------------------------------*
  html_coffee.html media queries
/*------------------------------------------------------------*/
/*-- variables *******************************************--*/


/*-- Media queries for desktop *******************************************--*/
@media screen and (min-width: 1100px) {
  #form {
    /*-- Grid container --*/
    grid-template-columns: 4fr 5fr;
    grid-template-rows: auto;
    grid-template-areas:
      'img main';
    max-width: max-content;
    width: fit-content;
  }
}