/*------------------------------------------------------------*
  register.html media queries
/*------------------------------------------------------------*/

/*-- Media queries for desktop *******************************************--*/
@media screen and (min-width: 950px) {
  /*-- Make the address section display as a column instead --*/
  #address {
    flex-direction: row;
  }
  #form {
    max-width: max-content;
    width: fit-content;
  }
}