/*------------------------------------------------------------*
  index.html media queries
/*------------------------------------------------------------*/

/*-- Media queries for desktop *******************************************--*/
@media screen and (min-width: 1024px) {

  discount-container {
    width: 15%;
  }

  /*-- Make grid and flex box containers display side by side instead of column --*/
  #offersContainer {
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      'prev slide description next';
  }

  container-about {
    /*-- Grid container --*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    max-width: var(--aboutContainer);
  }

  container-about img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  #productsContainer {
    display: grid;
    justify-content: center;
    /*-- Grid container --*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  /*-- Changing any margin and alignment as required --*/
  #aboutSection,
  container-about {
    grid-gap: var(--UISpacing);
  }

  container-description {
    margin: 0 0 0 var(--UIMargin);
  }

  container-product {
    grid-template-rows: 5fr 3fr;
  }
}